{% extends 'index.html' %}
{% block body %}
    <div class="edit-bills-container card mx-auto">
        <div class="card-header">
            <span>{{ bill.title }}</span>
        </div>
        <div class="card-body">
            <form id="edit_bills_form">{% csrf_token %}
                <input id="today_field" type="hidden" value="{{ today.isoformat }}">
                <div class="row">
                    <div class="col">
                        <label class="">Дата платежа
                            <input id="payment_date" class="form-control" type="date"
                                   value="{{ bill.payment_date.isoformat }}">                            
                        </label>
                        <button id="btn_set_today" type="button" 
                                onclick="setTodayToPayment_date()"
                                class="col btn btn-outline-primary p-1">Сегодня</button>
                    </div>


                </div>

                <label class="col">Тариф
                    <input id="rate" class="form-control" required type="number" min="0" step="0.0001"
                           value="{{ bill.rate }}">
                </label>

                <label class="w-100">Показания
                    <input id="indications" class="form-control" type="number" value="{{ bill.indications }}">
                </label>

                <label class="w-auto">Сумма
                    <input id="amount" readonly class="form-control" type="number" value="{{ bill.amount }}">
                </label>

                <label class="w-100">Описание
                    <textarea class="form-control" id="description">{{ bill.description }}</textarea>
                </label>

            </form>

        </div>
        <div class="card-buttons btn-group">
            <a class="btn btn-secondary" href="{% url 'dashboard' %}">Отмена</a>
            <button class="btn btn-success" onclick="submitEditBill()" type="button">Сохранить</button>
        </div>
    </div>
{% endblock %}