<div class="inform-card">
    
    <div class="inform-card-header">
        <div class="inform-today">{{ inf.today }}</div>
{#        <div class="bills-payment_date">{{ hot_water.payment_date }}</div>#}
    </div> 

{#    <div class="bills-indications">        #}
{#        #}
{#        <div class="bills-indications-value">#}
{#            {% if hot_water.indications %}#}
{#                <span>{{ hot_water.indications }}</span><span class="bills-indications-unit">&nbsp;M<span class="bills-indications-unit-pow">3</span></span>#}
{#            {% endif %}#}
{#        </div>#}
{#        #}
{#        <div class="bills-amount">#}
{#            {% if hot_water.amount %}#}
{#                <span class="bills-amount-value">{{ hot_water.amount }}</span><span class="bills-amount-currency">&nbsp;руб.</span>#}
{#            {% endif %}        #}
{#        </div>#}
{#    #}
{#    </div>#}
{#    #}
{#    <div class="bills-difference">#}
{#        #}
{#        <div class="bills-indications-diff">#}
{#            {% if hot_water.diff_indications %}#}
{#                <span>+{{ hot_water.diff_indications }}</span><span class="bills-indications-unit">&nbsp;M<span class="bills-indications-unit-pow">3</span></span>#}
{#            {% endif %}#}
{#        </div>#}
{#        #}
{#        #}
{#        <div class="bills-amount-diff">#}
{#            {% if hot_water.diff_amount %}#}
{#                <span>{{ hot_water.diff_amount }}</span><span class="bills-indications-unit">&nbsp;руб.</span>#}
{#            {% endif %}#}
{#        </div>#}
{#        #}
{#    </div>#}
{#    <div class="bills-description">{{ hot_water.description }}</div>#}
</div>